version: "3.8"
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - MODEL_SERVER_URL=http://model_server:5001

  model_server:
    build:
      context: .
      dockerfile: model_server.Dockerfile
    ports:
      - "5001:5001"
